<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">入力に問題があります。</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="my-error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
