// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: serif;
  // margin-top: -20px;
}

// .-3 {
  



.cover-new {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample2.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  // background-size: 100% 100%;
  background-size: cover;
  // margin: 0;
  // padding: 0;

  
}
// 
// #text {
//   width: 130px;
//   height: 40px;
  
// .d-block{
//   padding: -50px;
// }

.form-label {
  font-size: 20px;
  background-color: lightblue;
}

.form-group {
  width: 600px;
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -20px;
  margin-top: 0px;
}

.cover-index {
  height: 100%;
  width: 100%;
  // background-image: url(/assets/sample3.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.one-post {
  margin: 5px 30px;
  // display: block;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  // font-size: 20px;
  font-size: 15px;
  text-decoration: none;
  // margin-top: -40px;

}

.cover-show {
  height: 100%;
  width: 100%;
  // background-image: url(/assets/sample4.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
  // display: block;

}

#text {
  font-size: 18px;
}

.cover-edit {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample5.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  // background-size: 100% 100%;
  background-size: cover;
}

.page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}

.current {
  font-weight: bold;

}

.comments-index {
  background-color: #fff;
  border: 1px #000 solid;
}

.comment-delete {
  margin-left: auto;
}